body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(7, 14, 54);
}

.slider-container {
    max-width: 840px;
    padding-top: 20px;
    margin: auto;
}

.slider {
    display: flex;
    margin-bottom: 20px;
    height: 280px;
}

.image {
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2;
}

.image:nth-child(2n) {
    left: -280px;
    z-index: 1;
}

.buttons {
    margin-bottom: 20px;
    display: flex;
}

.button {
    width: 26px;
    height: 26px;
    background-color: transparent;
    border-radius: 26px;
    
}

.btn-inner {
    width: 14px;
    height: 14px;
    margin: auto;
    background-color: white;
    border-radius: 14px;
    transition: all .06s;
    -webkit-animation: Coloring .2s;
    -o-animation: Coloring .2s;
    animation: Color-out .2s;
}

@keyframes Color-out {
    0% {
        background: linear-gradient(0deg, rgb(7, 14, 54) 0%, rgb(7, 14, 54) 100%);
    }

    20% {
        background: linear-gradient(0deg, rgb(7, 14, 54) 0%, rgb(255, 255, 255) 100%);
    }

    100% {
        background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    }
}

.button:hover>.btn-inner {
    background-color: rgba(230, 159, 27, 0.822);
    -webkit-animation: Coloring .2s;
    -o-animation: Coloring .2s;
    animation: Coloring .2s;
}

@keyframes Coloring {
    0% {
        background: linear-gradient(0deg, rgb(7, 14, 54) 0%, rgb(7, 14, 54) 100%);
    }

    20% {
        background: linear-gradient(0deg, rgba(230, 159, 27, 0.822) 0%, rgb(7, 14, 54) 100%);
    }

    100% {
        background: linear-gradient(0deg, rgba(230, 159, 27, 0.822) 0%, rgba(230, 159, 27, 0.822) 100%);
    }
}

.button:active>.btn-inner {
    background-color: rgb(255, 166, 0);
    box-shadow: 0 0 7px rgb(230, 159, 27);
}

.button.active>.btn-inner {
    border: 2px solid white;
    background-color: transparent;
    box-shadow: 0 0 0;
    -webkit-animation: none;
    -o-animation: none;
    animation: none;
}

.description {
    color: white;
    font-size: 20px;
}

.text {
    
    -webkit-animation: Comming .2s forwards;
    -o-animation: Comming .2s forwards;
    animation: Comming .2s forwards;
}

@keyframes Comming {
    from {
        opacity: 0;
        margin-left: 40px;
    }

    to {
        opacity: 1;
        margin-left: 0;
    }
}

